<div class="contact_area">
  	<div class="container">
    	<div class="row">
      		<div class="contact_section">
				<h1>Contact Me</h1>
        		<p>I'd love to get in touch with you</p>

		        <div class="col-md-6">
		          	<div class="contactForm">
		          		<h2>Thank You!</h2>
		          		<p>I'll get back to you soon!</p>                      
		        	</div>
		        </div>
		        
            	<div class="col-md-6">
                    <div class="contact_text">
                        <div class="text-left">
                            <p>If you have a project that you need help implementing or just wnat to say hi please feel free to get in touch.</p>
                            <p>If you wish to discuss a project, please point out what goals you have set, what your budget is, and what your deadlines are.</p>
                            <p>I can be reached by phone, e-mail or by the contact form located nearby. Please allow me 24 hours to get back to you.</p>
                        </div>
                    	<h3>Contact Information</h3>
                        <ul class="contact_info">
                            <li><span class="glyphicon glyphicon-envelope"></span> &nbsp; jpeters280@gmail.com</li>
                            <li><span class="glyphicon glyphicon-home"></span> &nbsp; San Bruno,California</li>
                            <li><span class="glyphicon glyphicon-phone"></span> 1-650-291-5651</li>
                        </ul>
                        <ul class="contact_social">
                            <a href="https://github.com/jpeters280" target="_blank"><li><i class="fa fa-github-square"></i></li></a>
                            <a href="https://www.linkedin.com/in/joshua-peters-4273a5128" target="_blank"><li><i class="fa fa-linkedin-square"></i></li></a>
                            <a href="#" target="_blank"><li><i class="fa fa-share-square"></i></li></a>
                        </ul>                           
                    </div>
                </div>
      		</div>
    	</div>
  	</div> 
</div><!-- contact area end   -->